.app {
  position: relative;
  isolation: isolate;
}

.circle-ripple {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vmax;
  height: 100vmax;
  margin: -50vmax 0 0 -50vmax;
  border-radius: 50%;
  background: rgba(253, 114, 0, 0.05);
  transform: scale(0.4);
  opacity: 0;
  animation: circle-expand 12s cubic-bezier(0.65, 0, 0.85, 1) infinite;
  pointer-events: none;
}

.circle-ripple--2 {
  animation-delay: 3.2s;
}

.circle-ripple--3 {
  animation-delay: 6.4s;
}

@keyframes circle-expand {
  0% {
    transform: scale(0.4);
    opacity: 0;
  }
  1% {
    transform: scale(0.4);
    opacity: 1;
  }
  70% {
    transform: scale(1.2);
    opacity: 1;
  }
  76% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
